<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>To record and upload your voice, MemoReminder has to access your microphone.</string>
	<key>NSCameraUsageDescription</key>
	<string>To capture and upload a new photo, MemoReminder has to access your camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>MemoReminder needs access to your contacts to provide intelligent suggestions</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MemoReminder needs access to your location to provide geo-tagging on memories</string>
	<key>NSLocationUsageDescription</key>
	<string>MemoReminder needs access to your location to provide geo-tagging on memories</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>MemoReminder needs access to your location to provide geo-tagging on memories</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>MemoReminder needs access to your location to provide geo-tagging on memories</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>app.drmobilestore.ir</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>drmobilestore.ir</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>innovelopers.marlik.org</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>memoreminder.ir</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>mkkr.spneshaei.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>spneshaei.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>yekanschool.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>yekanschool.ir</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload a photo, MemoReminder has to access your library.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ViewHottestMemoriesIntent</string>
	</array>
</dict>
</plist>
